<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>

        <body>
            <div class="container">

                <h1>Report #
                    <%= result[0].report_id %>
                </h1>
                <h2>Weather</h2>
                <p>
                    <strong>High:</strong>
                    <%= result[0].report_weather_high + " degrees"%>
                </p>
                <p>
                    <strong>Low:</strong>
                    <%= result[0].report_weather_low + " degrees"%>
                </p>
                <p>
                    <strong>Conditions:</strong>
                    <%=result[0].report_weather_conditions %>.</p>

                <h2>Rental Equipment On Site</h2>
                <p>
                    <%= result[0].report_rental_equip %>
                </p>

                <h2>Report Notes:</h2>
                <p>
                    <%= result[0].report_content %>
                </p>
                <h2>Workers Info</h2>
                <%= for (var i = 0; i< result.length; i++){%>
                    <p>
                        <%= result[i].workers_category %>
                    </p>
                    <p>
                        <%= result[i].workers_number %>
                    </p>
                    <p>
                        <%= result[i].workers_content %>
                    </p>

                    <% }%>

                        <p>
                            <img src='<%= result[0].images_upload %>'>
                        </p>
            </div>
        </body>

</html>